html {
    height: 100%;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background: #B58531 url(../images/oasis_da_programação.jpg) bottom no-repeat;
    background
    height: 100%;
}

.header {
    display:flex;
    justify-content: center;
    padding: 15px 0 15px 0;
    background-color: #8A8376;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 30px;
    font-weight: bold;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 10px 10px;
}

.main {
    height: 80%;
    width: 100%;
    color: white;
}

.main-text {
    font-weight: bold;
}

.text {
    font-size: 25px;
    margin: 15px;
    text-align: justify;
}

.choices-container {
    /*Size*/
    width: 40%;

    /*Display and disposition*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    /*Extra size*/
    margin: 20px auto 0 auto;
    padding: 15px 0;

    /*Border*/
    border: 2px solid white;
    border-radius: 5px;
}

.choice {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
}

.select-button {
    display: inline-block;
    font-size: 18px;
    border: 1px solid white;
    color: white;
    background-color: goldenrod;
}

.select-button:hover {
    font-weight: bolder;
    background-color: darkorange;
    cursor: pointer;
}

.image {
    height: 70%;
    width: 50%;
    margin: 0 25% 1%;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-container {
    height: 100%;
    background-color: #8A8376;
    text-align: center;
}

.footer-text {
    margin: auto 0;
    color: white;
    font-weight: bold;
}